<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!-- We are using HEAD fragment here -->
  <head th:replace="~{/fragments/head :: head}"></head>


<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/images/nav-bg.jpg}" alt="">
    </div>
    <!-- We are using HEADER fragment here -->
     <header th:replace="~{/fragments/header :: header}"></header>
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
        <div class="post">
          <h1 th:text="${post.title}"></h1>
          <h5 th:text="${post.account.firstname} + ' | ' + ${post.dateCreated}"></h5>
          <p th:text="${post.body}"></p>
        </div>
      <hr color="grey">
      <div class="align-right" sec:authorize="isAuthenticated()" th:if="${isOwner}">
        <a th:href="@{'/edit_post/' + ${post.id}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Edit Post</a>
      </div>
      </div>
  </section>
  
  <!-- We are using FOOTER fragment here -->
  <footer th:replace="~{/fragments/footer :: footer}"></footer>
  <!-- end about section -->

</body>
</html>